<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-11-14T23:56:13Z</date>
	<key>WorkspacePath</key>
	<string>/Users/g/Desktop/EECS 183 Project/Final Project Elevators/EECS 183 Final Project: Elevators/EECS 183 Final Project: Elevators.xcodeproj</string>
</dict>
</plist>
